@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');

body{
  background-color: #383838;
  color: #3f3f3f;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.main{
  background-color: #dddddd;
  border-radius: 15px;
  padding: 4vh 2vw 4vh 2vw;

  position: static;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 33vw;
  margin-right: 33vw;
}

.centered{
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* make scrollbar invisible */
}

.icon{
  height: 44px;
  display: inline;
  vertical-align: baseline;
}

h1{
  display: inline;
  margin-left: 10px;
}

input[type="submit"]{
  border: none;
  outline: none;
  background-color: #383838;
  color: white;
  padding: 2%;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  font-size: 1.1em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

input[type="submit"]:hover{
  background-color: #757575;
}

.result{
  opacity: 0;
  transition: opacity 0.25s;
}

.result p{
  border: none;
  background-color: inherit;
  text-align: center;
  width:100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  cursor: text;
}

hr{
  border: 0.5px solid #9b9b9b;
  width: 100;
}

a{
  color: #0366d6;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a.back{
  color: #dddddd;
  position: absolute;
  bottom: 3vh;
  font-size: 1.2em;
}

@media only screen and (max-width: 1600px) {
  .main{
    padding: 4vh 3vw 4vh 3vw;

    position: static;
    top: 5vh;
    margin-bottom: 5vh;
    left: 25vw;
    right: 25vw;
  }
}

@media only screen and (max-width: 1400px) {
  .main{
    padding: 4vh 3vw 4vh 3vw;

    position: static;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media only screen and (max-width: 1200px) {
  .main{
    padding: 4vh 3vw 4vh 3vw;

    position: static;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}


@media only screen and (max-width: 1000px) {
  .icon{
    display: none;
  }

  .main{
    padding: 4vh 3vw 4vh 3vw;

    position: static;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .icon{
    display: none;
  }

  h1{
    text-align: center;
  }

  .main{
    padding: 4vh 5vw 4vh 5vw;

    position: static;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .icon{
    display: none;
  }

  h1{
    text-align: center;
  }

  .main{
    padding: 4vh 5vw 4vh 5vw;

    position: static;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
