@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900');

body{
  background-color: #383838;
  color: #3f3f3f;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box{
  background-color: #dddddd;
  border-radius: 15px;
  padding: 8vh 2vw 8vh 2vw;
  width: 30vw;
  text-align: center;
  margin: 2vh 1vw 2vh 1vw;
}

.box:hover{
  background-color: #c1c1c1;
  cursor: pointer;
}

.box p{
  font-size: 1.2em;
}

.bottom{
  border-radius: 15px 15px 0 0;
  padding: 4vh 2vw 4vh 2vw;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main{
  background-color: #dddddd;
  border-radius: 15px;
  padding: 4vh 2vw 4vh 2vw;
  position: static;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 33vw;
  margin-right: 33vw;
}

.centered{
  text-align: center;
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* make scrollbar invisible */
}

.status{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 3vh;
  width: 10vw;
}

h1{
  display: inline;
  margin-left: 10px;
}

input[type="submit"]{
  border: none;
  outline: none;
  background-color: #383838;
  color: white;
  padding: 2%;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  font-size: 1.1em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

input[type="submit"]:hover{
  background-color: #757575;
}

.result{
  opacity: 0;
  transition: opacity 0.25s;
}

.result p{
  border: none;
  background-color: inherit;
  text-align: center;
  width:100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  cursor: text;
}

hr{
  border: 0.5px solid #9b9b9b;
  width: 100;
}

a{
  color: #0366d6;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a.back{
  color: #dddddd;
  font-size: 1.2em;
}

@media only screen and (max-width: 1600px) {
  .main{
    margin-bottom: 5vh;
    padding: 4vh 3vw;
    top: 5vh;
    left: 25vw;
    right: 25vw;
  }
}

@media only screen and (max-width: 1400px) {
  .main{
    margin: 5vh 25vw;
  }
}

@media only screen and (max-width: 1200px) {
  .main{
    margin: 5vh 20vw;
  }
}


@media only screen and (max-width: 1000px) {
  .icon{
    display: none;
  }

  .main{
    margin: 5vh 15vw;
  }

  .status{
    width: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .icon{
    display: none;
  }

  h1{
    text-align: center;
  }

  .main{
    margin: 5vh 10vw;
    padding: 4vh 5vw;
  }

  .status{
    width: 20vw;
  }
}

@media only screen and (max-width: 700px) {
  .container{
    flex-direction: column;
  }

  .box{
    width: 50vw;
  }

  .bottom{
    position: static;
  }
}

@media only screen and (max-width: 600px) {
  .icon{
    display: none;
  }

  h1{
    text-align: center;
  }

  .main{
    margin: 2vh 2vw;
  }

  .status{
    width: 30vw;
  }
}

@media only screen and (max-width: 400px) {
  .box{
    width: 80vw;
  }
}
